@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Tomorrow", sans-serif;
  background-color: #14172b;
}

.gradient-background {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(46, 49, 73, 0.1) 107.43%
  );
  backdrop-filter: blur(50px);
}

.gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(227, 231, 245, 0.1) 0%,
    rgba(59, 63, 87, 0) 100%
  );
}

.asset-card {
  clip-path: path(
    "M 273.74 0.920044 H 234.74 C 227.467 0.943622 220.365 3.12713 214.334 7.19354 C 208.304 11.26 203.618 17.026 200.87 23.76 C 196.35 34.7647 188.66 44.1771 178.778 50.8012 C 168.895 57.4253 157.267 60.962 145.37 60.962 C 133.473 60.962 121.845 57.4253 111.963 50.8012 C 102.08 44.1771 94.3905 34.7647 89.8701 23.76 C 87.1222 17.026 82.4357 11.26 76.4055 7.19354 C 70.3753 3.12713 63.2731 0.943622 56 0.920044 H 17 C 12.4913 0.920044 8.16737 2.71111 4.97925 5.89923 C 1.79113 9.08735 0 13.4114 0 17.92 V 334 C 0 338.509 1.79113 342.833 4.97925 346.021 C 8.16737 349.209 12.4913 351 17 351 H 273.74 C 278.249 351 282.573 349.209 285.761 346.021 C 288.949 342.833 290.74 338.509 290.74 334 V 17.92 C 290.74 13.4114 288.949 9.08735 285.761 5.89923 C 282.573 2.71111 278.249 0.920044 273.74 0.920044 Z"
  );
}
